<div class="img-circle">
	<img class="img-circle" src="images/pic2.jpg">
</div>
<div class="well content">
	<h3 style="text-align: center;">Summary</h3>
	<p>I'm originally from Thailand and have recently moved to California. I am passionate about web development and I enjoy learning new skills and technologies.  I am always striving to commit better code. I'm looking to join a team where I can apply what I have learned as a full stack developer and to continue developing my skills. Database design, creating the UI and the optimal workflow for a great user experience are some of my skills. I am resourceful, detail oriented, hard working, curious, persistent, and responsible.</p>
<!-- </div>

<div class="skills-content"> -->
	<h3 style="text-align: center;">Skills</h3>
	<div class="row">
		<div class="col-md-6">						
				<li class="list-group-item">JavaScript</li>
				<li class="list-group-item">Java</li>
				<li class="list-group-item">NodeJs</li>
				<li class="list-group-item">ExpressJs</li> 
				<li class="list-group-item">AngularJs</li>
				<li class="list-group-item">JQuery</li>
			</div>
			<div class="col-md-6">
				<li class="list-group-item">MySQL</li>
				<li class="list-group-item">PostgreSQL</li>
				<li class="list-group-item">HTML5 & CSS3</li>
				<li class="list-group-item">Git & GitHub</li>
				<li class="list-group-item"> Linux</li>
				<li class="list-group-item">Mocha & Chai</li>
		</div>
		</div>
</div>