<h2>Projects</h2>
<div id="polaroid" class="col-md-8">   
	<figure>
		<img src="images/memoryGame.png" />
		<figcaption>Memory Game, Dec '15</figcaption>
	</figure>

	<figure>
		<img src="images/gRead.png" />
		<figcaption>Galvanize Read, Dec '15</figcaption>
	</figure>

	<figure>
		<img src="images/petbesthotels.png" />
		<figcaption>Petbesthotels, Apr '16</figcaption>
	</figure>

	<figure>
		<img src="images/faveFlix.png" />
		<figcaption>faveFlix, Apr '16</figcaption>
	</figure>

	<figure>
		<img src="images/shoppingCart.png" />
		<figcaption>ShoppingCart, Apr '16</figcaption>
	</figure>

	<figure>
		<img src="images/redditClone.png" />
		<figcaption>redditClone, Apr '16</figcaption>
	</figure>

	<figure>
		<img src="images/gEat.png" />
		<figcaption>Galvanize Eat, Apr '16</figcaption>
	</figure>

	<figure>
		<img src="images/spotify.png" />
		<figcaption>Spotify, Apr '16</figcaption>
	</figure>

</div>